name: Generate GitHub Stats Card

on:
  schedule:
    - cron: '0 0 * * *' # daily
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate user statistics SVG
        uses: cicirello/user-statistician@v1
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}  # <-- set as env, not input
        with:
          image-file: assets/github-stats.svg
