name: Generate GitHub Stats Card

on:
  schedule:
    - cron: '0 0 * * *' # daily at midnight UTC
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate user statistics SVG
        uses: cicirello/user-statistician@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN_STATS }}
          image-file: assets/github-stats.svg
